<main>
  <section id="home" class="home">
    <div class="home-content">
      <div class="text">
        <h1>Transformando Ideias em Soluções Inovadoras com Java e Angular</h1>
        <p>Como desenvolvedor apaixonado por tecnologia, tenho experiência em criar soluções personalizadas que atendem
          às necessidades específicas do seu negócio. Estou aqui para ajudar sua empresa a alcançar o próximo nível de
          eficiência e inovação.</p>
          <br>
        <p>Seja para criar sistemas robustos e escaláveis, ou desenvolver interfaces de usuário interativas e
          responsivas, minha missão é entregar soluções que não apenas atendam, mas superem suas expectativas.</p>
      </div>
      <div class="image">
        <img src="assets/1.webp" />
      </div>
    </div>
  </section>

  <section class="feature-section" id="services">
    <h2>Soluções que Oferecemos:</h2>
    <div class="feature-grid">
      <div class="left-column">
        <div class="card vertical-card">
          <h4>Revisão de Código</h4>
            <p>Análise técnica do código-fonte com sugestões para melhoria de legibilidade, performance e aderência às boas práticas.</p>
        </div>
      </div>
      <div class="right-column">
        <div class="card horizontal-card">
          <h4>Desenvolvimento de APIs</h4>
          <p>Construção de APIs RESTful com Java (Spring Boot), seguras, escaláveis e prontas para consumo por qualquer front-end.</p>
        </div>
        <div class="bottom-cards">
          <div class="card square-card">
            <h4>Desenvolvimento de Aplicações Móveis</h4>
            <p>Criação de aplicativos móveis nativos ou híbridos, com foco em performance, design e usabilidade.</p>
          </div>
          <div class="card square-card">
            <h4>Aulas e Cursos</h4>
            <p>Mentorias e treinamentos personalizados em Java, Angular, Git, Docker e fundamentos de arquitetura de software.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="feature-grid">
      <div class="left-column">
        <div class="card vertical-card">
          <h4>Aplicação de CI/CD</h4>
          <p>Automatização de testes, builds e deploy com pipelines CI/CD e uso de Docker para ambientes ágeis e controlados.</p>
        </div>
      </div>
      <div class="right-column">
        <div class="card horizontal-card">
          <h4>Gerenciamento de Banco de Dados</h4>
          <p>Modelagem, otimização e manutenção de bancos relacionais como PostgreSQL, com foco em performance e integridade dos dados.</p>
        </div>
        <div class="bottom-cards">
          <div class="card square-card">
            <h4>Desenvolvimento Web</h4>
          <p>Criação de sites e aplicações web modernas, responsivas e otimizadas com Angular e boas práticas de UI/UX.</p>
          </div>
          <div class="card square-card">
            <h4>Observabilidade e Monitoramento</h4>
            <p>Implementação de soluções de monitoramento e rastreamento de aplicações com ferramentas como Elasticsearch, Grafana e outras.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <section id="skills">
    <h2>Ferramentas trabalhadas</h2>
    <div class="skills-carousel">
      <div class="skills-list">
        <div class="skill-item">
          <i class="fab fa-java" style="color:#F8B400;"></i> Java (Spring Boot, Quarkus)
        </div>
        <div class="skill-item">
          <i class="fab fa-js" style="color:#F7DF1E;"></i> TypeScript (Angular)
        </div>
        <div class="skill-item">
          <i class="fab fa-html5" style="color:#E34F26;"></i> HTML, CSS, JavaScript
        </div>
        <div class="skill-item">
          <i class="fas fa-database" style="color:#FF0000;"></i> NoSQL (MongoDB, Redis)
        </div>
        <div class="skill-item">
          <i class="fas fa-database" style="color:#336791;"></i> SQL (PostgreSQL)
        </div>
        <div class="skill-item">
          <i class="fab fa-git" style="color:#F1502F;"></i> Git (GitHub, GitLab)
        </div>
        <div class="skill-item">
          <i class="fab fa-docker" style="color:#2496ED;"></i> Docker e conteinerização (Docker Compose, Kubernetes)
        </div>
        <div class="skill-item">
          <i class="fas fa-tools" style="color:#6C757D;"></i> CI/CD (Jenkins, GitLab CI)
        </div>
        <div class="skill-item">
          <i class="fas fa-chart-line" style="color:#28A745;"></i> Observabilidade (Elasticsearch, Grafana)
        </div>
        <div class="skill-item">
          <i class="fas fa-cloud" style="color:#fd780b;"></i> Cloud (AWS)
        </div>
        <div class="skill-item">
          <i class="fas fa-cogs" style="color:#A1A1A1;"></i> Ferramentas de Build (Maven, Gradle)
        </div>
        <div class="skill-item">
          <i class="fas fa-vial" style="color:#007BFF;"></i> Testes (JUnit, Selenium)
        </div>
        <div class="skill-item">
          <i class="fas fa-project-diagram" style="color:#6F42C1;"></i> Metodologias Ágeis (Scrum, Kanban)
        </div>
        <div class="skill-item">
          <i class="fab fa-microsoft" style="color:#00A4EF;"></i> Azure
        </div>
        <div class="skill-item">
          <i class="fas fa-server" style="color:#009639;"></i> Nginx
        </div>        
      </div>
    </div>
  </section>
  
  <section id="portfolio">
    <h2>Portfólio</h2>
    <div class="timeline">
      <div class="timeline-item">
        <h3>2023 - API Financeira</h3>
        <p>API robusta com autenticação, cache e Swagger.</p>
        <a href="#">Ver no GitHub</a>
      </div>
      <div class="timeline-item">
        <h3>2024 - Plataforma de Cursos</h3>
        <p>Front-end em Angular com back-end Java modularizado.</p>
        <a href="#">Ver no GitHub</a>
      </div>
      <div class="timeline-item">
        <h3>2024 - Plataforma de Cursos</h3>
        <p>Front-end em Angular com back-end Java modularizado.</p>
        <a href="#">Ver no GitHub</a>
      </div>
      <div class="timeline-item">
        <h3>2024 - Plataforma de Cursos</h3>
        <p>Front-end em Angular com back-end Java modularizado.</p>
        <a href="#">Ver no GitHub</a>
      </div>
    </div>
  </section>  

  <section id="about-contact">
    <div class="about-image">
      <img src="assets/edificios1.jpg" alt="Imagem sobre a JSON CODE">
    </div>
  
    <div class="about-text">
      <h2>Sobre a JSON CODE</h2>
      <p>A JSON CODE é uma empresa líder em desenvolvimento de software, especializada em soluções modernas e de alta performance. Utilizamos as tecnologias mais atuais do mercado para criar sistemas inovadores que atendem às necessidades de cada cliente.</p>
      <p>Nosso objetivo é transformar ideias em soluções tecnológicas de ponta, sempre focados em otimizar a eficiência e garantir a inovação. Com nossa experiência, podemos ajudar a sua empresa a alcançar um novo patamar no mundo digital.</p>
    </div>
  
    <div class="contact-section">
      <form>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
  
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
  
        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
  
        <button type="submit">Enviar</button>
      </form>
    </div>
  </section>
  
</main>