header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
  background: linear-gradient(-45deg, #2C3E50, #025cca, #0a2b4d);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

.logo {
  display: flex;               
  justify-content: flex-start;     
  align-items: center;                          
}

.logo img {           
  width: 300px;      
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  padding: 20px;
  text-align: center;
  margin-right: 4%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 20px;
  font-size: 22px;
}

nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #0582ff;
}